.productDetailsContainer {
  display: flex; 
  flex-direction: column; 
  padding: 0 10%;
}

.productDetailsContainer h1 {
  text-align: center; 
  width: 100%;
}

.productDetailsSubContainer {
  padding: 2% 0;
  display: flex; 
  gap: 10%;
}

.productDetailRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.productDetailleft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.productBack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  width: 100%;
}

@media (max-width: 768px) {
  .productDetailsSubContainer {
      flex-direction: column; 
      align-items: center;
  }

  .productDetailRight {
      width: 100%;
      text-align: center;
  }

  .product_img {
    width: 80%;
  }

  .productDetailleft {
      padding-left: 0; 
      text-align: center; 
      margin-top: 20px; 
  }

  .productDetailleft h2 {
      font-size: 22px; 
  }

  .productDetailleft p {
      font-size: 14px;
  }

  .productBack {
      justify-content: center;
  }
}

@media (max-width: 480px) {
  .productDetailleft h2 {
      font-size: 20px; 
  }

  .productDetailleft p {
      font-size: 14px;
  }

  .productDetailsContainer {
      padding: 15px; 
  }

  .productDetailRight img {
      max-width: 100%;
  }
}
