.main-content {
    display: flex;
    gap: 5%;
    width: 100%;
}

.product-section {
    width: 80%;
}

.product-section h2 {
    text-align: center; 
    padding: 10px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1rem; 
    margin: 1rem;
}
